/*custom styles for Des Plaines Memory Content DM site*/

div#idx_wrapper table.dpm_holdings{
  display: none !important;
}

/*styles for holdings lists on collection pages*/
table.dpm_holdings{
  border-collapse: collapse;
  border: 1px solid #555;
  text-align: left;
  margin: 10px 0;
}

table.dpm_holdings th, table.dpm_holdings td{
  border: 1px solid #555;
  padding: 4px;
}

table.dpm_holdings td.odd{
  background-color: #f8f8f8;
}

/*styles for carosel replacement images on collection landing pages*/
.lpCdmImageCarouselReplacer{
  background-color: #f8f8f8;
  border: 1px solid #c8c8c8;
}

.lpCdmImageCarouselReplacer  img{
  margin: 0 auto;
  padding: 4px;
  border: 1px solid #fff;
}